body
{
    font: Arial, sans-serif;
    background-color: red;
}

.buttonArea,
.footerText,
#aboutContainer,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

#welcomeScreen,
#aboutTextContainer
{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #7f7f7f;
    border: 1px solid #AAA;
    border-radius: 5px;
    
}

#hhh,
#ppp
{
    text-align: center;
}

#firstScreen
{
    margin-top: 5%;
    text-align: center;
}

.buttons
{
    margin-left: 0%;
    margin-right: 0%;
}

#myInfoButton,
#searchForDonorButton,
#searchForRequestButton,
#registerButton,
#facebookRegisterButton,
#googleRegisterButton
{
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
    border: 1px solid #AAA;
    border-radius: 5px;
    background-color: #7f7f7f;
}

.app-logo
{
    width: 60%;
    float: center;
    margin: .5em 0;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}